.heroBlog {
  margin: auto;
  height: 600px;
  width: 100%;
  max-width: 1500px;
  background-image: url(/img/Blocks-1.5s-200px.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.blogContent {
  width: 70%;
  max-width: 1500px;
  margin: auto;
}

.blogContent__header {
  padding: 25px 0px;
}
.blogContent__bottom {
  display: flex;
  padding: 50px 0px;
}
.blogImg {
  width: 100%;
  max-width: 425px;
  min-width: 40%;
  height: 450px;
  background-image: url(/img/Blocks-1.5s-200px.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blogImgBig {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.blogContent__bottom--text,
.blogContent__bottom--header {
  max-width: 600px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: flex;
}
.blogComment {
  width: 100%;
  max-width: 1000px;
}

.comment {
  background-color: var(--form-bgColor);
}
.comment__upper {
  display: flex;
}
.comment__upper--left,
.comment__upper--right {
  width: 50%;
  border: black 2px solid;
  padding: 15px;
}
.comment__upper--left {
  border-right: black 1px solid;
}
.comment__upper--right {
  border-left: black 1px solid;
}

.comment__lower {
  border: black 2px solid;
  border-top: none;
  padding: 15px;
}
.commentLabel {
  display: block;
  padding-bottom: 5px;
}
.commentField,
.commentName,
.commentEmail {
  background-color: var(--form-bgColor);
  min-height: 50px;
  width: 100%;
  border: none;
}
.commentButton {
  width: 300px;
  height: 75px;
  color: var(--submitBtn-color);
  background-color: var(--submitBtn-bgColor);
  margin: 25px 0px;
  border: none;
  font-size: 2rem;
}

@media (max-width: 1200px) /*Desktop*/ {
  .blogContent {
    width: 90%;
  }
}

@media (max-width: 991px) /*Tablet*/ {
  .comment {
    width: 100%;
  }
  .comment__upper {
    flex-direction: column;
    width: 100%;
  }
  .comment__upper--left,
  .comment__upper--right,
  .comment__lower {
    width: auto;
  }

  .comment__upper--right {
    border-top: none;
    border-left: 2px solid black;
  }
  .comment__upper--left {
    border-right: black 2px solid;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .blogContent__bottom {
    flex-wrap: wrap;
  }
  .blogContent__bottom--text,
  .blogContent__bottom--header {
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .blogContent__bottom--header {
    margin: 15px 0px;
  }
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
