.heroBlog {
  margin: auto;
  height: 600px;
  width: 100%;
  max-width: 1500px;
  background-color: black;
}
.blogContent {
  width: 70%;
  max-width: 1500px;
  margin: auto;
}

.blogContent__header {
  padding: 25px 0px;
}
.blogContent__bottom {
  display: flex;
  padding: 50px 0px;
}
.blogImg {
  width: 425px;
  height: 450px;
  background-color: black;
}

.blogContent__bottom--text {
  max-width: 600px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: flex;
}
.blogComment {
  width: 100%;
  max-width: 1250px;
}
.comment {
  background-color: var(--form-bgColor);
}
.comment__upper {
  display: flex;
}
.comment__upper--left,
.comment__upper--right {
  width: 50%;
  height: 125px;
  border: black 2px solid;
  padding: 25px;
}
.comment__upper--left {
  border-right: black 1px solid;
}
.comment__upper--right {
  border-left: black 1px solid;
}

.comment__lower {
  height: 300px;
  border: black 2px solid;
  border-top: none;
  padding: 25px;
}
.commentLabel {
  display: block;
  padding-bottom: 25px;
}
.commentField,
.commentName,
.commentEmail {
  background-color: var(--form-bgColor);
  min-height: 50px;
  width: 100%;
  border: none;
}
.commentButton {
  width: 300px;
  height: 75px;
  color: var(--submitBtn-color);
  background-color: var(--submitBtn-bgColor);
  margin: 25px 0px;
  border: none;
  font-size: 2rem;
}

@media (max-width: 1200px) /*Desktop*/ {
  .blogContent {
    width: 90%;
  }
}

@media (max-width: 991px) /*Tablet*/ {
  .comment__upper {
    flex-direction: column;
    width: 100%;
  }
  .comment__upper--left,
  .comment__upper--right {
    width: 100%;
  }
  .commentField,
  .commentName,
  .commentEmail {
    width: 90%;
  }
}

@media (max-width: 767px) /*Mobile*/ {
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
