.BlogListMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--altBG-BGcolor);
  min-height: 85vh;
}
.blogListh1 {
  margin-top: 50px;
}
.blogListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  position: relative;
}
.blogSearch {
  width: 500px;
  height: 45px;
  border: none;
  font-size: 1.5rem;
}
.fa-search {
  font-size: 1.5rem;
}
.searchLabel {
  position: absolute;
  right: 5px;
  top: 10px;
}
.categoryContainer {
  display: flex;
  margin: 50px 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryCard {
  height: 250px;
  width: 250px;
  background-color: black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.categoryCard:hover {
  box-shadow: var(--box-shadow);
}
.cardFitness {
  background-image: url(/img/BicepsCurl.jpg);
}
.cardFood {
  background-image: url(/img/fruitbowl.jpg);
}
.cardYoga {
  background-image: url(/img/Yoga.jpg);
}
.cardWL {
  background-image: url(/img/WLpic.jpg);
}
.categoryCard__box {
  background-color: var(--altBG-BGcolor);
  width: 125px;
  text-align: center;
  padding: 5px 0px;
}
.blogListContainer {
  padding-top: 50px;
}
.blogListCard {
  width: 1100px;
  min-height: 350px;
  display: flex;
  background-color: var(--blogListCard--BGcolor);
  margin-bottom: 50px;
}
.blogListCard__img {
  min-height: 325px;
  min-width: 325px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blogListCard__text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.blogListCard__text--header {
  padding-bottom: 15px;
}
.blogListCard__text--bottom {
  display: flex;
  justify-content: space-between;
}

.blogListCard__tags {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 15px;
}
.blogListCard__tags--tag {
  width: 100px;
  background-color: var(--category-bgColor);
  padding: 2px 0px;
  text-align: center;
  font-weight: bold;
  margin-right: 25px;
}
.readMoreBtn {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 50px;
}
.fa-angle-double-down {
  font-size: 3rem;
}
.readMoreBtn:hover {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 1200px) /*Desktop*/ {
  .blogListCard {
    width: 90%;
  }
}

@media (max-width: 991px) /*Tablet*/ {
  .blogListCard__tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
  }
  .blogListCard__tags--tag {
    margin-top: 5px;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .blogListCard {
    flex-direction: column;
  }
}

@media (max-width: 600px) /*Small-Mobile*/ {
  .blogListCard__img {
    width: 100%;
    min-width: 250px;
  }
  .blogSearch {
    width: 280px;
  }
}
