.contactMain {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contactHeader {
  padding: 50px 0px;
}
.contactSubHeader {
  width: 90%;
  max-width: 1000px;
  padding-bottom: 50px;
  display: flex;
}
.contactSubHeader__left,
.contactSubHeader__right {
  width: 50%;
}
.contactSubH2 {
  padding-bottom: 15px;
}
.faqList {
  flex-direction: column;
  margin-left: 20px;
}
.blogContact {
  width: 90%;
  max-width: 1000px;
}
.contact {
  background-color: var(--form-bgColor);
}
.contact__upper {
  display: flex;
}
.contact__upper--left,
.contact__upper--right {
  width: 50%;
  border: black 2px solid;
  padding: 15px;
}
.contact__upper--left {
  border-right: black 1px solid;
}
.contact__upper--right {
  border-left: black 1px solid;
}

.contact__mid {
  border: black 2px solid;
  border-top: none;
  padding: 25px;
}

.contact__lower {
  border: black 2px solid;
  border-top: none;
  padding: 15px;
}

.contactLabel {
  display: block;
  padding-bottom: 5px;
}
.contactField,
.contactName,
.contactEmail,
.contactSubject {
  background-color: var(--form-bgColor);
  min-height: 50px;
  min-width: 250px;
  width: 100%;
  border: none;
  padding: 5px 5px;
  font-weight: bold;
}
.contactButton {
  width: 300px;
  height: 75px;
  color: var(--submitBtn-color);
  background-color: var(--submitBtn-bgColor);
  margin-top: 25px;
  margin-bottom: 50px;
  border: none;
  font-size: 2rem;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
  .contact {
    width: 100%;
  }
  .contact__upper {
    flex-direction: column;
    width: 100%;
  }
  .contact__upper--left,
  .contact__upper--right,
  .contact__mid,
  .contact__lower {
    width: auto;
  }

  .contact__upper--right {
    border-top: none;
    border-left: 2px solid black;
  }
  .contact__upper--left {
    border-right: black 2px solid;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .contactSubHeader {
    flex-direction: column;
  }
  .contactSubHeader__right {
    padding-top: 25px;
  }
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
