footer {
  width: 100%;
  background-color: #110f0f;
}
.footerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px 0px;
}

.footerDiv__left,
.footerDiv__mid,
.footerDiv__right {
  color: white;
}
.footerDiv__right {
  text-align: center;
}
.footerSearchBar {
  position: relative;
}
.footerSearch__button {
  position: absolute;
  top: 1.5px;
  right: 1.5px;
  color: black;
}
.footerDiv__right--socials {
  color: yellow;
}
.fa-snapchat-ghost,
.fa-instagram,
.fa-facebook,
.fa-linkedin {
  font-size: 1.5rem;
  margin: 5px 5px;
}
