header {
  background-color: var(--footer-bgColor);
  min-height: 100px;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
}
.logo {
  background-image: url(/img/PostalFitness_logo.png);
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.headerDiv__right {
  padding-top: 25px;
}
nav {
  margin-bottom: 5px;
}
ul {
  display: flex;
}
.nav__list {
  display: flex;
}
.nav__list--link {
  text-decoration: none;
  color: var(--header-color);
  margin-left: 25px;
}
.nav__list--link:hover {
  text-decoration: underline;
}
.headerSearchBar {
  margin-left: 25px;
  position: relative;
}
.headerSearch {
  width: 100%;
}
.headerSearch__button {
  position: absolute;
  right: 0px;
  top: 1.5px;
}

.hamburgerOpen {
  display: none;
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}
.hamburgerMenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburgerSearch {
  margin: 15px 0px;
  position: relative;
}
.hamburgerSearchBar {
  width: 250px;
  height: 25px;
}
.hamburgerSearch__button {
  position: absolute;
  top: -2px;
  right: 1.5px;
  font-size: 1.5rem;
}
.hamburgerLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hamburgerLinks__link {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 30px 0px;
}
.fa-bars,
.fa-window-close {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
}

@media (max-width: 767px) /*Mobile*/ {
  .hamburgerOpen {
    display: block;
  }
  .headerDiv__right {
    display: none;
  }
  .headerDiv {
    padding: 0px 30px;
  }
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
