header {
  height: 100px;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;
}
.logo {
  background-image: url(/img/logo2.png);
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.headerDiv__right {
  padding-top: 25px;
}
nav {
  margin-bottom: 5px;
}
ul {
  display: flex;
}
.nav__list {
  display: flex;
}

.nav__list--link {
  text-decoration: none;
  color: black;
  margin-left: 25px;
}
.nav__list--link:hover {
  text-decoration: underline;
}
.headerSearchBar {
  margin-left: 25px;
  position: relative;
}
.headerSearch {
  width: 100%;
}
.headerSearch__button {
  position: absolute;
  right: 0px;
  top: 1.5px;
}
