.homeTop {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeBotBGC {
  background-color: #eee;
  padding: 50px 0px;
}
.heroMain {
  width: 90%;
  height: 750px;
  background-color: black;
}
.headingMain {
  margin: 50px 0px;
  text-align: center;
}

.carusell {
  height: 500px;
  width: 90%;
  background-color: #eaeaea;
}

.categoryContainer {
  display: flex;
  margin: 50px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.categoryCard {
  height: 250px;
  width: 250px;
  background-color: black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.categoryCard:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 5px 5px 5px;
}
.cardFitness {
  background-image: url(/img/BicepsCurl.jpg);
}
.cardFood {
  background-image: url(/img/fruitbowl.jpg);
}
.cardYoga {
  background-image: url(/img/Yoga.jpg);
}
.cardWL {
  background-image: url(/img/WLpic.jpg);
}
.categoryCard__box {
  background-color: var(--altBG-BGcolor);
  width: 125px;
  text-align: center;
  padding: 5px 0px;
}

.feauturedContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  justify-content: center;
}
.imgBackground {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url(/img/photo_2021-03-20_20-27-12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.featuredCard {
  width: 450px;
  min-height: 750px;
  margin: 50px;
  background-color: white;
}
.featuredCard__text {
  padding: 25px;
}
.featuredCard__text--tittel {
  text-align: center;
  margin-bottom: 25px;
}
.featuredCard__tags {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.7);
}
.featuredCard__tags--tag {
  width: 100px;
  background-color: var(--category-bgColor);
  margin: 20px 0px;
  padding: 2px 0px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 1200px) /*Desktop*/ {
  .categoryContainer {
    width: 750px;
  }
  .heroMain {
    height: 625px;
  }
}

@media (max-width: 991px) /*Tablet*/ {
  .homeTop {
    width: 100%;
  }
  .heroMain {
    width: 100%;
    height: 450px;
  }
  .homeBotBGC {
    padding: 0px;
  }
}

@media (max-width: 767px) /*Mobile*/ {
  .categoryContainer {
    width: 100%;
  }
  .featuredCard {
    margin: 50px 5px;
  }
  .featuredCard__tags {
    flex-wrap: wrap;
  }
  .featuredCard__tags--tag {
    margin: 10px 20px;
  }
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
