.homeTop {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeBotBGC {
  background-color: #eee;
  padding: 50px 0px;
}
.heroMain {
  width: 1500px;
  height: 750px;
  background-color: black;
}
.headingMain {
  margin: 50px 0px;
  text-align: center;
}

.carusell {
  height: 500px;
  width: 1500px;
  background-color: #eaeaea;
}

.categoryContainer {
  display: flex;
  margin: 100px 0px;
}
.categoryCard {
  height: 250px;
  width: 250px;
  background-color: black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryCard__box {
  background-color: #00ff76;
  width: 125px;
  text-align: center;
  padding: 5px 0px;
  border-radius: 15px;
}

.feauturedContainer {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  margin: auto;
  justify-content: center;
}
.imgBackground {
  height: 400px;
  width: 100%;
  background-color: black;
}
.featuredCard {
  width: 450px;
  height: 750px;
  margin: 50px;
  background-color: white;
}
.featuredCard__text {
  padding: 25px;
}
.featuredCard__text--tittel {
  text-align: center;
}
.featuredCard__tags {
  display: flex;
  width: 100%;
  justify-content: center;
}
.featuredCard__tags--tag {
  width: 70px;
  height: 20px;
  background-color: green;
  margin: 10px 10px;
  text-align: center;
}
