@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Condensed', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
h1 {
  font-size: 2.5rem;
}

h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

input[type='submit']:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
