.slider {
  width: 70%;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}
.carouselLink {
  text-decoration: none;
  color: black;
}
.carouselHead {
  text-align: center;
  padding: 5px;
}

@media (max-width: 1200px) /*Desktop*/ {
}

@media (max-width: 991px) /*Tablet*/ {
  .slider {
    width: 95%;
  }
}

@media (max-width: 767px) /*Mobile*/ {
}

@media (max-width: 600px) /*Small-Mobile*/ {
}
