:root {
  --social-color: #f7d002;
  --category-bgColor: #8fdbb2;
  --footer-bgColor: #110f0f;
  --form-bgColor: #eee;
  --submitBtn-bgColor: #018e42;
  --submitBtn-color: white;
  --header-color: white;
  --altBG-BGcolor: #eee;
  --blogListCard--BGcolor: white;
  --overlay-BGcolor: rgba(0, 0, 0, 0.7);
}
